@CHARSET "ISO-8859-1";

body {
	font-size: 10px;
	width: 100%;
}

.ui-layout-north .ui-layout-unit-content {
	overflow: visible !important;
}

.ui-layout-north {
	z-index: 30 !important;
	overflow: visible !important;
}